@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.container {
    width: 1140px;
    margin: auto;
 //   background: green;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo {
    width: 165px;
    line-height: 51px;
    text-transform: uppercase;
    background: url("../img/logo.png") no-repeat;
    background-blend-mode: overlay;
    font-size: 27px;
    padding-left: 72px;
}

.logo span {
    color: #f16d7f;
    font-weight: 700;
}

.search {
    height: 38px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    font-size: 14px;
}

.search__browse {
    padding: 14px;
    background-color: #f9f9f9;
    line-height: 38px;
    border: none;
    color: #7c7c7c;
    outline: none;
}

.search__browse i {
    color: #838383;
}

.header .search input {
    height: inherit;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 14px 16px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.header .search button:last-child {
    border: none;
    outline: none;
    height: inherit;
    background: none;
    padding: 12px;
    color: #a4a4a4;
}

.header__cart {
    margin-left: auto;
    margin-right: 26px;
}

.header__account-bar {
    border: none;
    outline: none;
    width: 130px;
    line-height: 38px;
    background-color: #f16d7f;
    padding-left: 19px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.headerLine {
    border-bottom: 1px solid #ececec;
}

.topNav {
    height: 51px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
}

.topNav a:not(:last-child) {
    margin-right: 46px;
}

.topNav a:hover {
    color: #7c7c7c;
    text-decoration-line: underline;
}

.topBanner {
    background-color: #e8e8e8;
    display: flex; 
    height: 614px;
    width: 100%;
}

.banner_container {
    display: flex; 
    align-items: center; 
    width: 1140px;
    height: inherit;
    margin: auto;
    background-image: url(../img/topHeaderBack.png);
    background-repeat: no-repeat;
    background-position: right 140px;
}

.header_text {
    width: 520px;
    border-left: 12px solid;
    border-left-color: #f16d7f;
    border-right-width: 12px; 
}

.header_brand {
    font-size: 60px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 8px;
    letter-spacing: 1.5px;
}

.header_topic span {
    color: #f16d7f;
}

.header_topic {
    padding-left: 8px;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
}

.body_category {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 820px;
    width: inherit;
    margin-top: 98px;
}

.items {
    margin-top: 90px;
}

.body_topic {
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
    text-align: center;
}

.body_text {
    margin-top: -40px;
    text-align: center;
    margin-bottom: 60px;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
}

.items_img {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item_block_holder {
    display: block;
    width: 261px;
    height: 364px;
    margin-bottom: 40px;
    position: relative;
}

.item_name {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #424242;
    padding-left: 15px;
}

.item_price {
    padding-left: 15px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.item_hidden {
    display: none;
    position: absolute;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.hidden_cart {
    height: 279px;
    width:inherit;
    background-color: #3a3838;
    opacity: 0.7;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.item_block_holder:hover .item_hidden {
    display: block;
}

.hidden_button {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-top:98px;
    height: 39px;
    width: 123px;
    border: 2px solid #fff; 
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    background-image: url(../img/cart1.png);
    background-repeat: no-repeat;
    background-position: 5px;
}

.hidden_button a {
    display: block;
    width: inherit;
    height: inherit;
    color: #fff;
    text-decoration: none;
}

.button_link {
    padding-left: 38px;        
    display: block;
    width: 123px;
}

.best_offer {
    
}

.body_button {
    width: 212px;
    height: 48px;
    margin-left: 465px;
    margin-bottom: 113px;
    color: #fff;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.4px;
    text-align: center
}

.body_button a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.offer_block {
    display: flex;
    justify-content: flex-end;
    width: inherit;
    height: 529px;
    background-color: #222224;
    margin-bottom: 97px;
    background-image: url(../img/Layer_39.png), url(../img/Layer_38.jpg);
    background-repeat: no-repeat;
}

.offer_img {
    margin-top: 66px;
    margin-left: 39px;
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-right: 430px;
}

.offer_img span {
    color: #f16d7f;    
}

.offer_img .for_women {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.9px;
    margin-top: -50px;
}

.offer_text {
    width: 371px;
    height: inherit;
    padding-left: 36px;
    color: #fbfbfb;
    padding-left: 115px;
    padding-top: 45px;
}

.offer_text h1 {
    padding-left: 78px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.offer_text p {
    padding-left: 7px;
    color: #b9b9ba;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.35px;
    word-wrap: normal; 
}

.delivery {
    background-image: url(../img/Forma_1.svg);
    background-repeat: no-repeat;
}

.sales {
    background-image: url(../img/Forma_2.svg);
    background-repeat: no-repeat; 
}

.quality {
    background-image: url(../img/Forma_3.svg);
    background-repeat: no-repeat;
}

.body_grey_block {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 109px;
    width: 100%;
    height: 438px;
    background-color: #ededed;
    background-position: center;
    background-image: url(../img/Rectangle_9_copy.png), url(../img/Layer_41.jpg);
    background-repeat: no-repeat;
}

.coments {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-right: 1px solid #fff;
}

.comment_text {
    background-image: url(../img/Layer_40.png);
    background-repeat: no-repeat; 
    background-position: 0 15px;
    color: #222224;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    padding-left: 113px;
    padding-right: 98px;
    font-style: italic;
}

.comment_text span {
    font-style:normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 26px;
    color: #f16d7f;
}

.subscribe {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_form h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: -25px
}

.sub_form p {
    letter-spacing: 0.35px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}

.subscribe_form {
    display: flex;
    justify-content: center;
    border-radius: 23px;
    background-color: #e1e1e1;
    overflow: hidden;
}

.sub_button {
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    border: 0;
}

.email_form {
    background-color: #e1e1e1;
    overflow: hidden;
    border: 0;
    width: 334px;
    height: 46px;
}

.pre_footer {
    display: flex;
    justify-content: space-around;
    height: 270px;
    margin-bottom: 95px;
    display: flex;
    margin-bottom: 168px;
}

.pre_footer h1 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.pre_footer p {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 59px;
}

.pre_footer a {
    color: #898989;
    text-decoration: none;
}

.brand {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 430px;
    height: 180px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin-right: 64px;
}

.brand h1 {
    padding-left: 70px;
    color: #3e3e40;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.68px;
}

.brand p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.brand span {
    color: #f16d7f;
    font-weight: 400;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 79px;
    margin-top: -79px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
    background-color: #e6e6e6;
}